<h1 class="h1 mb-4 d-flex flex-justify-between flex-items-center">
  <span>
    Overfriendly / Team <%= @team %>
    <% if @team.average_sr %>
      <span class="h2 text-gray text-normal">Average SR <%= @team.average_sr %></span>
    <% end %>
  </span>
  <% unless signed_in? %>
    <a class="h6 text-normal" href="<%= user_bnet_omniauth_authorize_path %>">
      Sign in with Battle.net
    </a>
  <% end %>
</h1>

<% if signed_in? %>
  <%= render partial: 'layouts/nav',
             locals: { battletag: current_user.battletag, team: @team } %>
<% end %>

<div class="columns">
  <% @players.each do |team_player| %>
    <% user = team_player.user %>
    <div class="column one-half">
      <h3 class="h3 text-center">
        <% if user %><a href="<%= user_path(user, user.platform, user.region) %>"><% end %>
        <%= team_player %>
        <% if user %></a><% end %>
        <span class="text-gray h4 text-normal">as <%= team_player.role %></span>
      </h3>
      <% if user %>
        <div data-url="<%= summary_path(User.parameterize(user.battletag), user.platform, user.region) %>" class="js-remote-load player-summary border rounded-2 mt-2 mb-4 p-3"></div>
      <% elsif team_player.battletag.present? %>
        <div data-url="<%= summary_path(User.parameterize(team_player.battletag), team_player.platform, team_player.region) %>" class="js-remote-load player-summary border rounded-2 mt-2 mb-4 p-3"></div>
      <% else %>
        <div class="player-summary border rounded-2 mt-2 mb-4 p-3 blankslate"></div>
      <% end %>
    </div>
  <% end %>
</div>
