<h1 class="h1 mb-4">Overfriendly / Players</h1>

<%= render partial: 'layouts/nav', locals: { battletag: current_user.battletag } %>

<ul class="list-style-none">
  <% @users.each do |user| %>
    <li class="mb-4">
      <h3 class="h3"><a href="<%= user_path(user, user.platform, user.region) %>">
        <%= user %>
      </a></h3>
      <div data-url="<%= summary_path(User.parameterize(user.battletag), user.platform, user.region) %>" class="mr-4 js-remote-load"></div>
    </li>
  <% end %>
</ul>

<%= will_paginate @users %>
