<h1 class="h1 mb-4">Overfriendly / Players</h1>

<%= render partial: 'layouts/nav', locals: { battletag: current_user.battletag } %>

<div class="mb-4 border-bottom pb-4">
  <span class="text-bold d-inline-block mr-3">Roles:</span>
  <% Hero::ROLES.each do |role| %>
    <label class="mr-3">
      <%= role_filter(role, @omitted_roles) %>
      <%= Hero.humanize_role(role) %>
    </label>
  <% end %>
</div>

<div class="columns">
  <% @users.each do |user| %>
    <div class="column one-half js-player-container">
      <h3 class="h3 text-center">
        <a href="<%= user_path(user, user.platform, user.region) %>">
          <%= user %>
        </a>
      </h3>
      <div data-url="<%= summary_path(User.parameterize(user.battletag), user.platform, user.region) %>" class="js-remote-load player-summary border rounded-2 mt-2 mb-4 p-3"></div>
    </div>
  <% end %>
</div>

<%= will_paginate @users %>
