<h1 class="h1 mb-4">Overfriendly / Players</h1>

<%= render partial: 'layouts/nav', locals: { battletag: current_user.battletag } %>

<div class="columns">
  <% @users.each do |user| %>
    <div class="column one-half">
      <h3 class="h3 text-center">
        <a href="<%= user_path(user, user.platform, user.region) %>">
          <%= user %>
        </a>
      </h3>
      <div data-url="<%= summary_path(User.parameterize(user.battletag), user.platform, user.region) %>" class="js-remote-load player-summary border rounded-2 mt-2 mb-4 p-3"></div>
    </div>
  <% end %>
</div>

<%= will_paginate @users %>
