<h1 class="h1 mb-4">Overfriendly / <%= current_user.battletag %> / Settings</h1>

<% if current_user.complete? %>
  <%= render partial: 'layouts/nav', locals: { battletag: current_user.battletag } %>
<% end %>

<%= form_for(current_user, url: user_update_path, method: :put) do |f| %>
  <dl class="form-group">
    <dt><%= f.label :platform, 'Platform:' %></dt>
    <dd><%= f.select :platform, options_for_select(platform_options, current_user.platform), {}, { class: 'form-select' } %></dd>
  </dl>
  <dl class="form-group">
    <dt><%= f.label :region, 'Region:' %></dt>
    <dd><%= f.select :region, options_for_select(region_options, current_user.region), {}, { class: 'form-select' } %></dd>
  </dl>
  <button type="submit" class="btn">Save</button>
<% end %>
