<% heroes.each do |hero| %>
  <div class="d-flex flex-items-center mb-1 hero-list-item">
    <% if hero.url %>
      <img class="flex-shrink-0 rounded-2 d-inline-block mr-2 hero-portrait" width="30" height="30" src="<%= hero.url %>" alt="<%= hero %>">
    <% end %>
    <span class="d-inline-block hero-name text-bold mr-2"><%= hero %></span>
    <span class="no-wrap hero-playtime d-inline-block mr-2"><%= hero.playtime %></span>
    <span class="hero-bar-container d-inline-block">
      <span class="hero-bar d-inline-block rounded-2" style="width: <%= hero_bar_width(hero.seconds_played, total_seconds) %>%"></span>
    </span>
  </div>
<% end %>
