<% team = local_assigns.key?(:team) ? local_assigns[:team] : nil %>

<div class="tabnav">
  <nav class="tabnav-tabs">
    <% if team %>
      <a href="<%= team_path(team) %>" class="tabnav-tab <%= "selected" if team_tab_active? %>">
        View team
      </a>
    <% end %>
    <% unless battletag == current_user.battletag %>
      <a href="<%= user_path(User.parameterize(battletag), platform, region) %>" class="tabnav-tab <%= "selected" if profile_tab_active? %>">
        View profile
      </a>
    <% end %>
    <% if current_user.complete? %>
      <a href="<%= user_path(current_user, current_user.platform, current_user.region) %>" class="tabnav-tab <%= "selected" if profile_tab_active? && battletag == current_user.battletag %>">
        Your profile
      </a>
      <a href="<%= users_path %>" class="tabnav-tab <%= "selected" if users_tab_active? %>">
        All players
      </a>
    <% end %>
    <a href="<%= settings_path %>" class="tabnav-tab <%= "selected" if settings_tab_active? %>">Settings</a>
  </nav>
</div>
